<form
  class="email-signup__form"
  data-engagement-signup-form
  data-id="YeVjDE"
  data-g="WEuH4P"
  data-form-version="1194116"
  data-$source="Engagement Ring Guide"
>
  <label class="visually-hidden" for="email-engagement-{{ id }}">Sign Up for Our Engagement Ring Guide</label>
  <input class="email-signup__input" type="email" name="email" id="email-engagement-{{ id }}" placeholder="Enter Your Email Address" data-email required>
  <button class="email-signup__submit button" type="submit">Sign Up</button>
</form>
