<div class="nav__cart-search nav-cart-search">
  <a class="nav-cart-search__link" href="/cart" aria-label="Cart" title="Cart">
    {% render 'icon', name: 'cart', iconClass: 'nav-cart-search__icon' %}
    <div class="nav-cart-search__text">Cart</div>
  </a>
  <button class="nav-cart-search__link" title="Search Webstore" data-quick-search-open>
    {% render 'icon', name: 'search', iconClass: 'nav-cart-search__icon' %}
    <div class="nav-cart-search__text">Search</div>
  </button>
</div>

