h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  letter-spacing: var(--header-letterspacing);
  line-height: var(--header-lineheight);
  text-transform: var(--header-text-transform);
}

h1,
.h1 {
  font-size: 3.052em;
}

h2,
.h2 {
  font-size: 2.441em;
}

h3,
.h3 {
  font-size: 1.953em;
}

h4,
.h4 {
  font-size: 1.563em;
}

h5,
.h5 {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 0.8em;
}

small,
.small {
  font-size: 0.8em;
}
