.link {
  color: var(--color-links-text);
  font-weight: bold;
  text-decoration: none;

  @include transition;
}

.link:hover,
.link:focus {
  color: var(--color-white);

  background-color: var(--color-links-text);
}

.content {
  a {
    @extend .link;
  }
}
