.grid {
  display: grid;
}

.grid.gap {
  gap: 1rem;
}

.grid.gap > * + * {
  margin-top: 0;
}

.flex {
  display: flex;
}

.grid * + *,
.flex * + * {
  margin-bottom: 0;
}

@include media(768px) {
  .grid[data-cols="2/1"] {
    grid-template-columns: 2fr 1fr;
  }
}

@include media(1280px) {
  .grid.gap {
    gap: 2rem;
  }
}
