.featured-products__header {
  position: relative;

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
  width: 100%;
}

.featured-products__header--has-rule:before {
  left: 0;
  position: absolute;
  top: calc(50% + 2px);

  height: 1px;
  width: 100%;

  content: "";
  background-color: var(--color-gray-light);
  transform: translateY(-50%);
}

.featured-products-header__text {
  position: relative;
}

.featured-products__header--has-rule .featured-products-header__text {
  @include inline-spacing(padding, 1rem);

  background-color: var(--background-color);
}

.featured-products-header__text > * + * {
  margin-top: 1rem;
}

@include media(599px, max-width) {
  .featured-products__header {
    align-items: center;
    flex: 1 1 100%;

    text-align: center;
  }
}

@include media(600px) {
  .featured-products__container--header-left .featured-products__header {
    flex: 1 1 25%;
  }

  .featured-products__container--header-top .featured-products__header {
    align-items: center;
    flex: 1 1 100%;

    text-align: center;
  }
}
