.featured-products__products {
  display: flex;
}

.featured-products__container--header-left .featured-products__products {
  flex: 1 1 75%;
  width: 75%;
}

.featured-products__container--header-top .featured-products__products {
  flex: 1 1 66.66666%;
  margin-top: 2rem;
}

.featured-products__products {
  .product-card__title,
  .product-card__price {
    color: var(--text-color);
  }
}

.product-card.product-card--featured-products {
  flex: 1 1 100%;
  min-width: calc(var(--outer-width) / 2);
}

@include media(600px) {
  .featured-products__container--header-left .product-card--featured-products {
    min-width: calc(var(--outer-width) / 3);
  }

  .featured-products__container--header-top .product-card--featured-products {
    min-width: calc(var(--outer-width) / 4);
  }
}
