.table-outer {
  width: 100%;
  overflow-x: hidden;
}

.table-inner {
  overflow-x: auto;
}

table {
  min-width: 640px;
  width: 100%;

  background-color: var(--color-table-background);
  border: 1px solid var(--color-table-border);
}

th {
  padding: 0.5rem;

  font-weight: bolder;
  text-align: left;

  border-bottom: 1px solid var(--color-table-border);
}

tr + tr {
  border-top: 1px solid var(--color-table-border);
}

td {
  padding: 0.5rem;
}

tfoot {
  background-color: var(--color-table-border);
}
