.testimonial__tile {
  flex: 0 1 100%;
  max-width: 40rem;
}

.testimonial-tile__content {
  padding: 1rem;

  text-align: center;
}

.testimonial-tile__content > * + * {
  margin-top: 1rem;
}

.testimonial-tile__image {
  --image-size: 140px;

  display: inline-block;
  height: var(--image-size);
  width: var(--image-size);

  border-radius: 50%;
}

.testimonial-tile__author {
  margin-top: 1rem;
}

.testimonial-tile__author:before {
  margin-right: 0.25rem;

  content: "—";
}
